- var pageTitle = 'Sejarah'
head
	style
		li img{
			width: 30px;
			height: 30px;
		}
		
		ol li{
			height: 50px;
		} 
		a{
			font-size : 16px;
			height : 50px;
		}
		.bespoke-slide
		{
			background : url("images/champions.jpg") no-repeat;
		}
include presentation-header

include menu

article#presentation


	section
		h1 Apa itu Liga Champion? 
		ul
			<li style="list-style-type:disc"> Disebut juga dengan UEFA Champions League dalam Bahasa Inggris 
			<li style="list-style-type:disc"> Merupakan kejuaraan klub-klub sepakbola antar Benua Eropa
			<li style="list-style-type:disc"> Sering dianggap sebagai trofi tingkat klub yang paling prestius
			<li style="list-style-type:disc"> Diadakan 1 tahun 1 kali
	section
		h1 Lambang Liga Champion
		<img src = "images/champion.jpg">

	section
		h1 Sejarah Liga Champion
		br 
		ul
			<li style="list-style-type:disc"> Pertama kali dicetuskan oleh salah satu majalah olah raga Perancis 
			<li style="list-style-type:disc"> Dimulai sejak tahun 1955/1956 
			<li style="list-style-type:disc"> Menggunakan sistem gugur 2 leg 

	section
		h1 Apa maksudnya Sistem Gugur 2 leg? 
		p Maksudnya terjadi 2 pertandingan yaitu kandang dan tandang atau disebut home away. Tim dengan kemenangan agregat tertinggi yang akan masuk ke babak selanjutnya
			
	section
		h1 Siapa yang berhak masuk ke Liga Champion? 
		p Semua negara di eropa mempunyai jatah tersendiri dalam liga champion
		br	
		Berikut Jatah tim-tim dari setiap negara yang masuk liga champion
		ol
			li Liga Inggris : peringkat 1, 2,3 Lolos & 4 masuk kualifikasi
			li Liga Spanyol : peringkat 1, 2,3 Lolos & 4 masuk kualifikasi
			li Liga Jerman : peringkat 1, 2,3 Lolos & 4 masuk kualifikasi
			li Liga Italia : peringkat 1, 2 Lolos & 3 masuk kualifikasi
			li Liga Belanda : peringkat 1, 2 Lolos & 3 masuk kualifikasi
			li Liga Perancis : peringkat 1 Lolos & 2, 3 masuk kualifikasi
			li Liga Portugal : peringkat 1 Lolos & 2, 3 masuk kualifikasi
			li Liga Rusia : peringkat 1 Lolos & 2, 3 masuk kualifikasi
			li Sisanya adalah dari negara lain di eropa

	section
		h1 Sistem Liga Champion Saat ini
		ul
			li <b>Babak Fase Grup</b>	
			<li style="list-style-type:disc">Terdiri dari 8 grup
			<li style="list-style-type:disc">Setiap grup terdiri dari 4 tim
			<li style="list-style-type:disc">Menggunakan sistem Kandang/Tandang (2 leg)
			<li style="list-style-type:disc">peringkat 1 dan 2 akan lolos ke 16 besar	 
			
	section
		h1 Sistem Liga Champion Saat Ini 
		ul
			li <b>Babak 16 besar, 8 besar dan 4 besar</b>
			<li style="list-style-type:disc"> Sistem KnockOut / Sistem Gugur
			<li style="list-style-type:disc"> menggunakan sistem Kandang/Tandang (2 leg)
			<li style="list-style-type:disc"> Tim dengan kemenangan terbanyak akan lolos ke babak selanjutnya
	section
		h1 Sistem Liga Champion Saat Ini
		ul
			h2 Bagaimana jika hasilnya seri?
			p Tim dengan gol tandang lebih besar akan masuk ke babak selanjutnya
	section	
		h1 Sistem Liga Champion Saat Ini
		ul
			li <b> Babak Final </b>
			<li style="list-style-type:disc"> Biasanya lapangan / tempat bermain sudah ditentukan oleh FIFA
			<li style="list-style-type:disc"> Sistem sekali main (1 leg)
	section
		h2 Daftar Tim yang pernah menjuarai Liga Champion
		ol
			<li style="list-style-type:circle"> <img src = "images/madrid.jpg"> 10 kali (Tahun 1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000, 2002, 2014)
			<li style="list-style-type:circle"> <img src = "images/milan.png"> 7 kali (Tahun 1963, 1969, 1989, 1990, 1994, 2003, 2007)
			<li style="list-style-type:circle"> <img src = "images/liverpool.jpg"> 5 kali (Tahun 1977,1978, 1982, 1984, 2005)
			<li style="list-style-type:circle"> <img src = "images/munchen.jpg"> 5 kali (Tahun 1974, 1975, 1976, 2001, 2013)
			<li style="list-style-type:circle"> <img src = "images/barcelona.jpg"> 4 kali (Tahun 1992, 2006, 2009, 2011)	
	section
		ol
			<li style="list-style-type:circle"> <img src = "images/ajax.jpg"> 4 kali (Tahun 1971, 1972, 1973, 1995)
			<li style="list-style-type:circle"> <img src = "images/inter.png"> 3 kali (Tahun 1964, 1965, 2000)
			<li style="list-style-type:circle"> <img src = "images/mu.jpg"> 3 kali (Tahun 1968, 1999, 2008)
			<li style="list-style-type:circle"> <img src = "images/benfica.jpg"> 2 kali (Tahun 1961, 1962)
			<li style="list-style-type:circle"> <img src = "images/juventus.jpg"> 2 kali (Tahun 1985, 1996)
			blockquote
				<a href="2a-Champion2015.html">Ke Persentase Selanjutnya</a>	
			
include presentation-footer
	
include main-footer
