- var pageTitle = 'Sejarah'

include presentation-header

include menu

article#presentation


	section
		h2 
		h3 
		ul
			li 
			li 


	section
		h2 
		ul
			li  
			li 
			li 
			li 

	section
		h2 
		ul
			li 
			li 
			li 
			li 
			li 

	section
		h2 
		ul
			li 
				p
					ol
						li 
						li 
			li 
			li 
			li 

	section
		h2
		hr
		ul
			li <a href="http://git-scm.com/"></a>
			li  <a href="http://github.com/"></a>
			li  <a href="http://www.sourcetreeapp.com/"></a>
			li  <a href="http://trello.com"></a>
			li  <a href="http://markdalgleish.com/projects/bespoke.js/"></a>
			li  <a href="http://github.com/"></a>  <a href="http://www.redmine.org/"></a>
	section
		h2 
		ul
			li 

	section
		h1 
		
include presentation-footer
include main-footer
