- var pageTitle = 'Champion 2015'


include presentation-header

head
	style
		ol li{
			height : 50px;
		}
		li img{
			width: 30px;
			height : 30px;
		}

		a{
			font-size : 16px;
			height : 50px;
			height : 30px;
		}
include menu

article#presentation


	section

		h1 Liga Champion 2015
		ul
			<li style="list-style-type:disc">Terdiri dari 32 tim
			<li style="list-style-type:disc">Terbagi ke dalam 8 grup				
		


	section

		h1 Pembagian Fase Grup
		ul
			li <b> Grup A </b>
		ol
			li <img src="images/juventus.jpg"> Juventus
			li <img src="images/atm.jpg"> Atletico Madrid
			li <img src="images/olympiacos.png"> Olympiacos
			li <img src="images/malmo.jpg"> Malmo
				


	section

		ul
			li <b> Grup B </b>
		ol
			li <img src="images/basel.jpg"> Basel
			li <img src="images/madrid.jpg"> Real Madrid
			li <img src="images/liverpool.jpg"> Liverpool
			li <img src="images/gorets.jpg"> Ludogorets Razgrad
		


	section

		ul
			li <b> Grup C </b>
		ol
			li <img src="images/zenit.png"> Zenit St Petersburg
			li <img src="images/benfica.jpg"> Benfica
			li <img src="images/leverkusen.png"> Bayer Leverkusen
			li <img src="images/monaco.png"> AS Monaco	
				


	section

		ul
			li <b> Grup D </b>
		ol
			li <img src="images/dortmund.png"> Borussia Dortmund
			li <img src="images/arsenal.jpg"> Arsenal
			li <img src="images/galatasaray.jpg"> Galatasaray
			li <img src="images/anderlecht.jpg"> Anderlecht

	section
		ul
			li <b> Grup E </b>
		ol
			li <img src="images/mc.jpg"> Manchester City
			li <img src="images/munchen.jpg"> Bayern Munchen
			li <img src="images/cska.jpg"> CSKA Moscow
			li <img src="images/roma.jpg"> AS Roma

	section

		ul
			li <b> Grup F </b>
		ol
			li <img src="images/psg.jpg"> Paris Saint-Germain
			li <img src="images/barcelona.jpg"> Barcelona
			li <img src="images/ajax.jpg"> Ajax
			li <img src="images/apoel.jpg"> APOEL

	section
		ul 
			li <b> Grup G </b>
		ol
			li <img src="images/schalke.png"> Schalke
			li <img src="images/chelsea.jpg"> Chelsea
			li <img src="images/maribor.png"> NK Maribor
			li <img src="images/sporting.png"> Sporting Clube de Portugal
	section
		ul
			li <b> Grup H </b>
		ol
			li <img src="images/shakhtar.jpg"> Shakhtar Donets
			li <img src="images/porto.jpg"> Porto
			li <img src="images/athclub.jpg"> Athletic Club
			li <img src="images/bate.jpg"> EC BATE Borisov
			<p><a href="2b-Hasil pertandingan.html">Ke Persentase Selanjutnya</a>
include presentation-footer

include main-footer