- var pageTitle = 'Hasil-Hasil Pertandingan'


include presentation-header
head
	style
		li{
			text-align : left;
		}
		li img{
			height : 480px;
			width : 1048px;
		}
		blockquote{
				font-size : 12px;
				text-align : right;
		}
		a{
			font-size : 16px;
			height: 30px;
		}
include menu

article#presentation



	section
		h1 Babak Fase Grup
		h2 <b> Grup A </b>
		ul
			<li style="list-style-type:disc"> Olympiacos 3 vs 2 Athletico Madrid
			<li style="list-style-type:disc"> Juventus 2 vs 0 Malmo
			<li style="list-style-type:disc"> Athletic Madrid 1 vs 0 Juventus
			<li style="list-style-type:disc"> Malmo 2 vs 0 Olympiacos
			<li style="list-style-type:disc"> Athletico Madrid 5 vs 0 Malmo
			<li style="list-style-type:disc"> Olympiacos 1 vs 0 Juventus
			<li style="list-style-type:disc"> Juventus 3 vs 2 Olympiacos
			<li style="list-style-type:disc"> Malmo 0 vs 2 Athletico Madrid
			<li style="list-style-type:disc"> Athletico Madrid 4 vs 0 Olympiacos
			<li style="list-style-type:disc"> Malmo 0 vs 2 Juventus
			<li style="list-style-type:disc"> Juventus 0 vs 0 Athletico Madrid
			<li style="list-style-type:disc"> Olympiacos 4 vs 2 Malmo
	section
		h2 <b> Grup B </b>
		ul
			<li style="list-style-type:disc"> Liverpool 2 vs 1 Ludogorets
			<li style="list-style-type:disc"> Real Madrid 5 vs 1 Basel
			<li style="list-style-type:disc"> Basel 1 vs 0 Liverpool
			<li style="list-style-type:disc"> Ludogorets 1 vs 2 Real Madrid
			<li style="list-style-type:disc"> Liverpool 0 vs 3 Real Madrid
			<li style="list-style-type:disc"> Ludogorets 1 vs 0 Basel
			<li style="list-style-type:disc"> Basel 4 vs 0 Ludogorets
			<li style="list-style-type:disc"> Real Madrid 1 vs 0 Liverpool
			<li style="list-style-type:disc"> Basel 0 vs 1 Real Madrid
			<li style="list-style-type:disc"> Ludogorets 2 vs 2 Liverpool
			<li style="list-style-type:disc"> Liverpool 1 vs 1 Basel
			<li style="list-style-type:disc"> Real Madrid 4 vs 0 Ludogorets
	section
		h2 <b> Grup C </b>
		ul
			<li style="list-style-type:disc"> Benfica 0 vs 2 Zenit
			<li style="list-style-type:disc"> Monaco 1 vs 0 Leverkusen
			<li style="list-style-type:disc"> Zenit 0 vs 0 Monaco
			<li style="list-style-type:disc"> Leverkusen 3 vs 1 Benfica
			<li style="list-style-type:disc"> Leverkusen 2 vs 0 Zenit
			<li style="list-style-type:disc"> Monaco 0 vs 0 Benfica
			<li style="list-style-type:disc"> Zenit 1 vs 2 Leverkusen
			<li style="list-style-type:disc"> Benfica 1 vs 0 Monaco
			<li style="list-style-type:disc"> Zenit 1 vs 0 Benfica
			<li style="list-style-type:disc"> Leverkusen 0 vs 1 Monaco
			<li style="list-style-type:disc"> Monaco 2 vs 0 Zenit
			<li style="list-style-type:disc"> Benfica 0 vs 0 Leverkusen
	section
		h2 <b> Grup D </b>
		ul
			<li style="list-style-type:disc"> Dortmund 2 vs 0 Arsenal
			<li style="list-style-type:disc"> Galatasaray 1 vs 1 Anderlecht
			<li style="list-style-type:disc"> Anderlecht 0 vs 3 Dortmund
			<li style="list-style-type:disc"> Arsenal 4 vs 1 Galatasaray
			<li style="list-style-type:disc"> Anderlecht 1 vs 2 Arsenal
			<li style="list-style-type:disc"> Galatasaray 0 vs 4 Dortmund
			<li style="list-style-type:disc"> Arsenal 3 vs 3 Anderlecht
			<li style="list-style-type:disc"> Dortmund 4 vs 1 Galatasaray
			<li style="list-style-type:disc"> Anderlecht 2 vs 0 Galatasaray
			<li style="list-style-type:disc"> Arsenal 2 vs 0 Dortmund
			<li style="list-style-type:disc"> Dortmund 1 vs 1 Anderlecht
			<li style="list-style-type:disc"> Galatasaray 1 vs 4 Arsenal
	section
		h2 <b> Grup E </b>
		ul
			<li style="list-style-type:disc"> Munchen 1 vs 0 MC
			<li style="list-style-type:disc"> Roma 5 vs 1 CSKA Moscow
			<li style="list-style-type:disc"> CSKA Moscow 0 vs 1 Munchen
			<li style="list-style-type:disc"> MC 1 vs 1 Roma
			<li style="list-style-type:disc"> CSKA Moscow 2 vs 2 MC
			<li style="list-style-type:disc"> Roma 1 vs 7 Munchen
			<li style="list-style-type:disc"> Munchen 2 vs 0 Roma
			<li style="list-style-type:disc"> MC 1 vs 2 CSKA Moscow
			<li style="list-style-type:disc"> CSKA Moscow 1 vs 1 Roma
			<li style="list-style-type:disc"> MC 3 vs 2 Munchen
			<li style="list-style-type:disc"> Munchen 3 vs 0 CSKA Moscow
			<li style="list-style-type:disc"> Roma 0 vs 2 MC
	section
		h2 <b> Grup F </b>
		ul
			<li style="list-style-type:disc"> Ajax 1 vs 1 PSG
			<li style="list-style-type:disc"> Barcelona 1 vs 0 APOEL
			<li style="list-style-type:disc"> APOEL 1 vs 1 Ajax
			<li style="list-style-type:disc"> PSG 3 vs 2 Barcelona
			<li style="list-style-type:disc"> APOEL 0 vs 1 PSG
			<li style="list-style-type:disc"> Barcelona 3 vs 1 Ajax
			<li style="list-style-type:disc"> Ajax 0 vs 2 Barcelona
			<li style="list-style-type:disc"> PSG 1 vs 0 APOEL
			<li style="list-style-type:disc"> APOEL 0 vs 4 Barcelona
			<li style="list-style-type:disc"> PSG 3 vs 1 jax
			<li style="list-style-type:disc"> Ajax 4 vs 0 APOEL
			<li style="list-style-type:disc"> Barcelona 3 vs 1 PSG
	section
		h2 <b> Grup G </b>
		ul
			<li style="list-style-type:disc"> Chelsea 1 vs 1 Schalke
			<li style="list-style-type:disc"> Maribor 1 vs 1 Sporting
			<li style="list-style-type:disc"> Schalke 1 vs 1 Maribor
			<li style="list-style-type:disc"> Sporting 0 vs 1 Chelsea
			<li style="list-style-type:disc"> Chelsea 6 vs 0 Maribor
			<li style="list-style-type:disc"> Schalke 4 vs 3 Sporting
			<li style="list-style-type:disc"> Maribor 1 vs 1 Chelsea
			<li style="list-style-type:disc"> Sporting 4 vs 2 Schalke
			<li style="list-style-type:disc"> Schalke 0 vs 5 Chelsea
			<li style="list-style-type:disc"> Sporting 3 vs 1 Maribor
			<li style="list-style-type:disc"> Chelsea 3 vs 1 Sporting
			<li style="list-style-type:disc"> Maribor 0 vs 1 Schalke
	section
		h2 <b> Grup H </b>
		ul
			<li style="list-style-type:disc"> Athletico Bilbao 0 vs 0 Shakhtar
			<li style="list-style-type:disc"> Porto 6 vs 0 BATE
			<li style="list-style-type:disc"> BATE 2 vs 1 Athletico Bilbao
			<li style="list-style-type:disc"> Shakhtar 2 vs 2 Porto
			<li style="list-style-type:disc"> BATE 0 vs 7 Shakhtar
			<li style="list-style-type:disc"> Porto 2 vs 1 Athletico Bilbao
			<li style="list-style-type:disc"> Atheltico Bilbao 0 vs 2 Porto
			<li style="list-style-type:disc"> Shakhtar 5 vs 0 BATE
			<li style="list-style-type:disc"> BATE 0 vs 3 Porto
			<li style="list-style-type:disc"> Shakhtar 0 vs 1 Athletico Bilbao
			<li style="list-style-type:disc"> Porto 1 vs 1 Shakhtar
			<li style="list-style-type:disc"> Athletico Bilbao 2 vs 0 BATE
	section
		h2 <b> Klasemen Akhir Fase Grup </b>
		ul
			li <img src="images/grupA-D.png">
	section
		ul
			li <img src="images/grupE-H.png">
	section
		h1 Babak 16 besar
		ul
			<li style="list-style-type:disc"> <b>PSG</b> 1 vs 1 Chelsea
			<li style="list-style-type:disc"> Chelsea 2 vs 2 <b>PSG</b> (Agg. 3-3)				
			<li style="list-style-type:disc"> MC 1 vs 2 <b>Barcelona</b>
			<li style="list-style-type:disc"> <b>Barcelona</b> 1 vs 0 MC (Agg. 3-1)
			<li style="list-style-type:disc"> Leverkusen 1 vs 0 <b>Atletico Madrid</b>
			<li style="list-style-type:disc"> <b>Atletico Madrid</b> 1 vs 0 Leverkusen (Agg. 1-1) (pen. 3-2)
			<li style="list-style-type:disc"> <b>Juventus</b> 2 vs 1 Dortmund
			<li style="list-style-type:disc"> Dortmund 0 vs 3 <b>Juventus</b> (Agg. 1-5)
	section
		ul
			<li style="list-style-type:disc"> Schalke 0 vs 2 <b>Real Madrid</b>
			<li style="list-style-type:disc"> <b>Real Madrid</b> 3 vs 4 Schalke (Agg. 5-4)
			<li style="list-style-type:disc"> Shakhtar 0 vs 0 <b>Munchen</b>
			<li style="list-style-type:disc"> <b>Munchen</b> 7 vs 0 Shakhtar (Agg. 7-0)
			<li style="list-style-type:disc"> Arsenal 1 vs 3 <b>Monaco</b>
			<li style="list-style-type:disc"> <b>Monaco</b> 0 vs 2 Arsenal (Agg. 3-3)
			<li style="list-style-type:disc"> Basel 1 vs 1 <b>Porto</b>
			<li style="list-style-type:disc"> <b>Porto</b> 4 vs 0 Basel (Agg. 5-1)		
			blockquote
				<i> *Yang bercetak tebal masuk ke 8 besar </i>
	section
		h1 Babak 8 besar
		ul
			<li style="list-style-type:disc"> PSG 1 vs 3 <b>Barcelona</b>
			<li style="list-style-type:disc"> <b>Barcelona</b> 2 vs 0 PSG (Agg. 5-1)
			<li style="list-style-type:disc"> Atletico Madrid 0 vs 0 <b>Real Madrid</b>
			<li style="list-style-type:disc"> <b>Real Madrid</b> 1 vs 0 Atletico Madrid (Agg. 1-0)
			<li style="list-style-type:disc"> Porto 3 vs 1 <b>Munchen</b>
			<li style="list-style-type:disc"> <b>Munchen</b> 6 vs 1 Porto (Agg. 7-4)
			<li style="list-style-type:disc"> <b>Juventus</b> 1 vs 0 Monaco
			<li style="list-style-type:disc"> Monaco 0 vs 0 <b>Juventus</b> (Agg. 0-1)
			blockquote
				<i> *Yang bercetak tebal masuk ke Semifinal </i>
	section
		h1 Babak SemiFinal
		ul
			<li style="list-style-type:disc"> <b>Barcelona</b> 3 vs 0 Munchen
			<li style="list-style-type:disc"> Monaco 3 vs 2 <b>Barcelona</b> (Agg. 3-5)
			<li style="list-style-type:disc"> <b>Juventus</b> 2 vs 1 Real Madrid
			<li style="list-style-type:disc"> Real Madrid 1 vs10 <b>Juventus</b> (Agg. 2-3)	 	
			blockquote
				<i> *Yang bercetak tebal masuk ke Final </i>
	section
		h1 Final
		ul
			li Barcelona vs Juventus
			p <a href="3-barcelona.html">Ke Persentase Selanjutnya</a>
include presentation-footer

include main-footer