- var pageTitle = 'Barcelona'

include presentation-header

include menu

article#presentation

	section
		h1 Lambang Barcelona
		<img src = "images/barcelona.jpg">
		
	section
		h1 Barcelona 
		ul
			<li style="list-style-type:disc"> klub sepak bola profesional yang berbasis di Barcelona, Katalonia, Spanyol.
			<li style="list-style-type:disc"> Didirikan pada tahun 1899 oleh sekelompok Swiss, Inggris dan Catalan
			<li style="list-style-type:disc"> klub sepakbola kedua terkaya di dunia dalam hal pendapatan
			

include presentation-footer
include main-footer
