- var pageTitle = 'Barcelona'

include presentation-header

include menu

article#presentation

	section
		h1 Lambang Barcelona
		<img src = "images/barcelona.jpg">
		
	section
		h1 Barcelona 
		ul
			<li style="list-style-type:disc"> klub sepak bola profesional yang berbasis di Barcelona, Katalonia, Spanyol.
			<li style="list-style-type:disc"> Didirikan pada tahun 1899 oleh sekelompok Swiss, Inggris dan Catalan
			<li style="list-style-type:disc"> klub sepakbola kedua terkaya di dunia dalam hal pendapatan
	section
		h1 Skuat Utama
		<img src = "images/barca/skuatutama.jpg">
	section
		h1 Pinjaman
		<img src = "images/barca/pinjaman.jpg">
	section
		h1 Staf Teknis
		<img src = "images/barca/StafTeknis.jpg">
	section
		h1 Manajemen
		<img src = "images/barca/management.jpg">
	section
		h1 Sponsor
		<img src = "images/barca/sponsorbarca.jpg">
	section 
		h1 Prestasi
		ul
			<li style="list-style-type:disc"> Liga Champions UEFA: 5 Kali Menang
			<li style="list-style-type:disc"> Piala UEFA: 4 Kali Menang
			<li style="list-style-type:disc"> Piala Super Eropa: 4 Kali Menang
			<li style="list-style-type:disc"> Piala Winners: 4 Kali Menang
			<li style="list-style-type:disc"> Liga Spanyol: 24 Kali Menang
			
	

include presentation-footer
include main-footer
