- var pageTitle = 'Barcelona'

include presentation-header

include menu
head
	style
		a {
			font-size : 16px;
		}
		a img{
			width : 30px;
			height : 30px;
		}
article#presentation

	section
		h1 Lambang Barcelona
		<img src = "images/barcelona.jpg">
		
	section
		h1 Barcelona 
		ul
			<li style="list-style-type:disc"> klub sepak bola profesional yang berbasis di Barcelona, Katalonia, Spanyol.
			<li style="list-style-type:disc"> Didirikan pada tahun 1899 oleh sekelompok Swiss, Inggris dan Catalan
			<li style="list-style-type:disc"> klub sepakbola kedua terkaya di dunia dalam hal pendapatan
	section
		h1 Skuat Utama
		<img src = "images/barca/skuatutama.jpg">
	section
		h1 Pinjaman
		<img src = "images/barca/pinjaman.jpg">
	section
		h1 Staf Teknis
		<img src = "images/barca/StafTeknis.jpg">
	section
		h1 Manajemen
		<img src = "images/barca/management.jpg">
	section
		h1 Sponsor
		<img src = "images/barca/sponsorbarca.jpg">
	section 
		h1 Prestasi
		ul
			<li style="list-style-type:disc"> Liga Champions UEFA: 5 Kali Menang
			<li style="list-style-type:disc"> Piala UEFA: 4 Kali Menang
			<li style="list-style-type:disc"> Piala Super Eropa: 4 Kali Menang
			<li style="list-style-type:disc"> Piala Winners: 4 Kali Menang
			<li style="list-style-type:disc"> Liga Spanyol: 24 Kali Menang
	section
		h1 Prestasi
		ul
			<li style="list-style-type:disc"> Supercopa de Espana: 11 Kali Menang
			<li style="list-style-type:disc"> Copa de la Liga: 2 Kali Menang
			<li style="list-style-type:disc"> Copa del Rey: 26 Kali Menang
			<li style="list-style-type:disc"> Piala Latin: 2 Kali Menang
			<li style="list-style-type:disc"> Piala Joan Gamper: 35 Kali Menang
			<li style="list-style-type:disc"> Piala Dunia Antarklub FIFA: 2 Kali Menang
			br
			<a href = "4-juventus.html"><img src="images/kanan.png"> Ke Persentase Berikutnya </a>			
	

include presentation-footer
include main-footer
