- var pageTitle = 'Juventus'

include presentation-header

include menu

article#presentation

	section
		h1 Lambang Juventus
		<img src = "images/juventus.jpg">
		
	section
		h1 Juventus 
		ul
			<li style="list-style-type:disc"> klub sepak bola profesional Italia yang berbasis di Turin, Piedmont.
			<li style="list-style-type:disc"> Klub sepakbola ini adalah yang tertua ketiga di Italia
			<li style="list-style-type:disc"> Juventus didirikan dengan nama Sport Club Juventus pada pertengahan tahun 1897 oleh siswa-siswa dari sekolah Massimo D'Azeglio Lyceum di daerah Liceo D'Azeglio, Turin
			<li style="list-style-type:disc">bergabung dengan Kejuaraan Sepak Bola Italia pada tahun 1900
			<li style="list-style-type:disc">Juve memenangi gelar Seri-A perdananya pada 1905
			
	
include presentation-footer
include main-footer