- var pageTitle = 'Juventus'

include presentation-header

include menu
head
	style
		a{
			font-size : 16px;
		}
		a img{
			width : 30px;
			height : 30px;
		}
article#presentation

	section
		h1 Lambang Juventus
		<img src = "images/juventus.jpg">
		
	section
		h1 Juventus 
		ul
			<li style="list-style-type:disc"> klub sepak bola profesional Italia yang berbasis di Turin, Piedmont.
			<li style="list-style-type:disc"> Klub sepakbola ini adalah yang tertua ketiga di Italia
			<li style="list-style-type:disc"> Juventus didirikan dengan nama Sport Club Juventus pada pertengahan tahun 1897 oleh siswa-siswa dari sekolah Massimo D'Azeglio Lyceum di daerah Liceo D'Azeglio, Turin
			<li style="list-style-type:disc">bergabung dengan Kejuaraan Sepak Bola Italia pada tahun 1900
			<li style="list-style-type:disc">Juve memenangi gelar Seri-A perdananya pada 1905
			
	section
		h1 Tim Utama
		<img src = "images/Juve/TimUtama.jpg">
	section
		h1 Pinjaman
		<img src = "images/Juve/Pinjaman.jpg">
	section
		h1 Staf Manajemen
		<img src = "images/Juve/StafManagement.jpg">
	section
		h1 Presidensial
		<img src = "images/Juve/Presidensial.jpg">
	section
		h1 Pinjaman
		<img src = "images/Juve/Sponsor.jpg">
	section
		h1 Kontribusi untuk tim nasional Italia
		ul
			<li style="list-style-type:disc"> Juventus merupakan klub yang paling banyak menyumbang pemain untuk timnas Italia dalam sejarah
			<li style="list-style-type:disc"> Juve juga menjadi contributor utama untuk timnas Italia yang dikenal dengan sebutan Dua Era Emas
			<li style="list-style-type:disc"> yang pertama adalah saat era Quinquennio d'Oro (The Golden Quinquennium), dari 1931 sampai 1935
			<li style="list-style-type:disc">Yang kedua adalah  Ciclo Leggendario (The Legendary Cycle), dari 1972 sampai 1986
	section
		h2 Daftar pemain Juventus yang masuk ke dalam skuat tim Italia saat memenangi gelar juara dunia
		ul
			<li style="list-style-type:disc">Piala Dunia 1934 (9); Gianpiero Combi, Virginio Rosetta, Luigi Bertolini, Felice Borel , Umberto Caligaris, Giovanni Ferrari, Luis Monti, Raimundo Orsi and Mario Varglien
			<li style="list-style-type:disc">Piala Dunia 1938 (2); Alfredo Foni dan Pietro Rava
			<li style="list-style-type:disc">Piala Dunia 1982 (6); Dino Zoff, Antonio Cabrini, Claudio Gentile, Paolo Rossi, Gaetano Scirea dan Marco Tardelli
			<li style="list-style-type:disc">Piala Dunia 2006 (5); Fabio Cannavaro, Gianluigi Buffon, Mauro Camoranesi, Alessandro Del Piero dan Gianluca Zambrotta
	section
		h1 Pretasi dan penghargaan
		h2 Gelar juara nasional Italia
		ul
			<li style="list-style-type:disc">Lega Calcio Seri-A (31 kali)
			<li style="list-style-type:disc">Lega Calcio Seri-B (1 kali)
			<li style="list-style-type:disc">Piala Italia (10 kali)
			<li style="list-style-type:disc">Piala Super Italia (6 kali)
			<li style="list-style-type:disc">Piala Kremlin (2 kali)
			
	section
		h1 Pretasi dan penghargaan
		h2 Gelar juara nasional Italia
		ul
			<li style="list-style-type:disc">Piala Liga Champions(2 kali)
			<li style="list-style-type:disc">Piala Winners UEFA (1 kali)
			<li style="list-style-type:disc">Piala UEFA Liga Europa (3 kali)
			<li style="list-style-type:disc">Piala Intertoto (1 kali)
			<li style="list-style-type:disc">Piala Super UEFA (2 kali)
			<li style="list-style-type:disc">Piala Interkontinental(2 kali)
			br
			<a href = "5-pencapaianBarca.html"><img src="images/kanan.png"> Ke Persentase Berikutnya </a>
include presentation-footer
include main-footer