- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu
head
	style
		a{
			font-size : 16px;
		}
		a img{
			width : 30px;
			height : 30px;
		}
article#presentation

	section
		h2 Perjalanan Barcelona Menuju Final Liga Champions 2015
		<img src = "images/fcb.jpg">
	section
		h2 Review Perjalanan Barcelona Ke Final
		p Barcelona berhasil menuju final Liga Champions musim ini, setelah di babak semifinal mampu mengkandaskan perlawanan dari raksasa Jerman, Bayern Muenchen. Barcelona menang dengan agregat 5-2 atas Muenchen. Di final Barcelona akan menghadapi Juventus.

	section
		h2 Review Perjalanan Barcelona Ke Final
		p Sebelumnya, dibabak perempat final klub asal Spanyol, Barca mampu menghancurkan klub kaya raya asal Prancis, PSG dengan agregat yang cukup meyakinkan 5-1. Begitu juga ketika berlaga dibabak 16 besar, lagi-lagi Barca mampu mengatasi perlawanan klub kaya raya lainnya asal Inggris, Manchester City. Namun, dibabak 16 besar ini Barca harus berjuang susah payah, karena hanya mampu unggul agregat 3-1.
	section
		h2 Review Perjalanan Barcelona Ke Final
		p Di fase grup, Barcelona mampu menjadi juara grup, dengan total 15 poin. Dari 6 laga yang dilakoni Barcelona di fase grup ini, Barca hanya menderita kekalahan satu kali ketika melawat ke kandang PSG. Sisanya Bacelona berhasil menyapu bersih kemenangan atas lawan-lawannya di fase grup.
	section
		h2 Review Perjalanan Barcelona Ke Final
		p Selama perhelatan Liga Champions musim ini, Barcelona hanya menelan dua kali kekalahan. Pertama, Barca kalah dari PSG ketika di fase grup, kekalahan yang kedua diterima Barca saat berseteru dengan Bayern Muenchen di leg kedua babak semi final.
	section
		h2 Perjalanan Barcelona Ke Final di Fase Grup
		ul
		<li style="list-style-type:disc"> Barcelona 1 : 0 APOEL Nicosia 
		<li style="list-style-type:disc"> Paris Saint Germain 3 : 2 Barcelona 
		<li style="list-style-type:disc"> Barcelona 3 : 1 Ajax 
		<li style="list-style-type:disc"> Ajax 0 : 2 Barcelona 
		<li style="list-style-type:disc"> APOEL Nicosia 0 : 4 Barcelona 
		<li style="list-style-type:disc"> Barcelona 3 : 1 Paris Saint Germain
	section
		h2 Perjalanan Barcelona Ke Final di Fase Knock Out
		p Babak 16 besar :
		ul	
		<li style="list-style-type:disc"> Manchester City 1 : 2 Barcelona (Gol: Sergio Aguero : Suarez 16, 30) 
		<li style="list-style-type:disc"> Barcelona 1 : 0 Manchester City (Gol: Ivan Rakitic)
	section
		h2 Perjalanan Barcelona Ke Final di Fase Knock Out
		p Perempat final :  
		<li style="list-style-type:disc"> Paris Saint Germain 1 : 3 Barcelona (Gol: Mathieu (og) : Neymar, Suarez 67, 79) 
		<li style="list-style-type:disc"> Barcelona 2 : 0 Paris Saint Germain (Gol: Neymar 14, 34)
	section
		h2 Perjalanan Barcelona Ke Final di Fase Knock Out
		p Semifinal :  
		<li style="list-style-type:disc"> Barcelona 3 : 0 Bayern Munich (Gol: Messi 77, 80, Neymar) 
		<li style="list-style-type:disc"> Bayern Munich 3 : 2 Barcelona (Gol: Benatia, Lewandowski, Mueller : Neymar 15, 29)
		br
		<a href = "6-pencapaianJuve.html"><img src="images/kanan.png"> Ke Persentase Berikutnya </a>
include presentation-footer
include main-footer