- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu

article#presentation

	section
		h2 Perjalanan Barcelona Menuju Final Liga Champions 2015
		<img src = "images/fcb.jpg">
	section
		h2 Review Perjalanan Barcelona Ke Final
		p Barcelona berhasil menuju final Liga Champions musim ini, setelah di babak semifinal mampu mengkandaskan perlawanan dari raksasa Jerman, Bayern Muenchen. Barcelona menang dengan agregat 5-2 atas Muenchen. Di final Barcelona akan menghadapi Juventus.

	section
		h2 Review Perjalanan Barcelona Ke Final
		p Sebelumnya, dibabak perempat final klub asal Spanyol, Barca mampu menghancurkan klub kaya raya asal Prancis, PSG dengan agregat yang cukup meyakinkan 5-1. Begitu juga ketika berlaga dibabak 16 besar, lagi-lagi Barca mampu mengatasi perlawanan klub kaya raya lainnya asal Inggris, Manchester City. Namun, dibabak 16 besar ini Barca harus berjuang susah payah, karena hanya mampu unggul agregat 3-1.
	section
		h2 Review Perjalanan Barcelona Ke Final
		p Di fase grup, Barcelona mampu menjadi juara grup, dengan total 15 poin. Dari 6 laga yang dilakoni Barcelona di fase grup ini, Barca hanya menderita kekalahan satu kali ketika melawat ke kandang PSG. Sisanya Bacelona berhasil menyapu bersih kemenangan atas lawan-lawannya di fase grup.
include presentation-footer
include main-footer