- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu

article#presentation

	section
		h2 Perjalanan Barcelona Menuju Final Liga Champions 2015
		<img src = "images/fcb.jpg">
	section
		h2 Review Perjalanan Barcelona Ke Final
		p Barcelona berhasil menuju final Liga Champions musim ini, setelah di babak semifinal mampu mengkandaskan perlawanan dari raksasa Jerman, Bayern Muenchen. Barcelona menang dengan agregat 5-2 atas Muenchen. Di final Barcelona akan menghadapi Juventus.

include presentation-footer
include main-footer