- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu

article#presentation

	section
		h2 Perjalanan Juventus Menuju Final Liga Champions 2015
		<img src = "images/juvefc.jpg">
	section
		h2 Review Perjalanan Juventus Ke Final
		p Juventus berhasil mencapai partai final liga Champions musim ini, setelah dibabak semifinal mampu menjegal juara bertahan Real Madrid. Juventus harus bekerja extra dibabak semifinal ini sebelum akhirnya mampu unggul dengan agregat 3-2 dari Real Madrid. Dibabak final, Si Nyonya Tua -julukan Juventus- sudah ditunggu Barcelona. Final Liga Champions musim ini akan digelar di Berlin, Jerman, 7 Juni 2015 dini hari WIB.
include presentation-footer
include main-footer