- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu
head
	style
		a{
			font-size : 16px;
		}
		a img{
			width : 30px;
			height : 30px;
		}
article#presentation

	section
		h2 Perjalanan Juventus Menuju Final Liga Champions 2015
		<img src = "images/juvefc.jpg">
	section
		h2 Review Perjalanan Juventus Ke Final
		p Juventus berhasil mencapai partai final liga Champions musim ini, setelah dibabak semifinal mampu menjegal juara bertahan Real Madrid. Juventus harus bekerja extra dibabak semifinal ini sebelum akhirnya mampu unggul dengan agregat 3-2 dari Real Madrid. Dibabak final, Si Nyonya Tua -julukan Juventus- sudah ditunggu Barcelona. Final Liga Champions musim ini akan digelar di Berlin, Jerman, 7 Juni 2015 dini hari WIB

	section
		h2 Review Perjalanan Juventus Ke Final
		p Perjalanan klub asal Italia, Juventus menuju partai final Liga Champions musim ini sangat berliku. Dari 6 pertandingan di fase grup, Juventus hanya meraih total 10 poin, hasil dari 3 kali menang dan 1 kali seri dan 2 kali kalah. Alhasil, Juventus hanya duduk sebagai runner up di bawah Atletico Madrid. Bahkan, Juve hanya mampu memasukan 7 gol di fase grup ini.

	section
		h2 Review Perjalanan Juventus Ke Final
		p Namun, setelah melaju ke babak berikutnya, Juventus seakan tampil superior. Mereka mampu melibas Borussia Dortmund dengan agregat gol 5-1 dibabak 16 besar. Di babak perempat final Juve bertemu dengan klub asal Prancis, As Monaco. Kali ini Juve hanya mampu unggul agregat 1-0. Dan di semifinal mereka mengkandaskan Real Madrid dengan agregat 3-2.

	section
		h2 Review Perjalanan Juventus Ke Final
		p Juventus meraih 4 kemenangan dan 2 hasil imbang tanpa sekalipun menelan kekalahan di babak 16 besar hingga semifinal. Total dari 12 laga di ajang Liga Champions, Juventus meraih 7 kemenangan 3 hasil imbang dan 2 kekalahan. 

	section
		h2 Perjalanan Juventus Ke Final di Fase Grup
		ul
		<li style="list-style-type:disc"> Juventus 2 : 0 Malmo FF 
		<li style="list-style-type:disc"> Atletico Madrid 1 : 0 Juventus 
		<li style="list-style-type:disc"> Olympiakos 1 : 0 Juventus 
		<li style="list-style-type:disc"> Juventus 3 : 2 Olympiakos
		<li style="list-style-type:disc"> Malmo FF 0 : 2 Juventus 
		<li style="list-style-type:disc"> Juventus 0 : 0 Atletico Madrid
	section
		h2 Perjalanan Juventus Ke Final di Fase Knock Out
		p Babak 16 besar :
		ul	
		<li style="list-style-type:disc"> Borussia Dortmund 0 : 3 Juventus (Gol: Carlos Tevez, Morata, Carlos Tevez) 
		<li style="list-style-type:disc"> Juventus 2 : 1 Borussia Dortmund (Gol: Carlos Tevez, Alvaro Morata : Reus)
	section
		h2 Perjalanan Juventus Ke Final di Fase Knock Out
		p Perempat final :  
		<li style="list-style-type:disc"> Monaco 0 : 0 Juventus  
		<li style="list-style-type:disc"> Juventus 1 : 0 Monaco (Gol: Arturo Vidal) 
	section
		h2 Perjalanan Juventus Ke Final di Fase Knock Out
		p Semifinal :  
		<li style="list-style-type:disc"> Juventus 2 : 1 Real Madrid (Gol: Alvaro Morata, Tevez : Ronaldo) 
		<li style="list-style-type:disc"> Real Madrid 1 : 1 Juventus (Gol: Ronaldo : Alvaro Morata)
		br
		<a href = "7-prediksi.html"><img src="images/kanan.png"> Ke Persentase Berikutnya </a>

include presentation-footer
include main-footer