- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu

article#presentation

	section
		h2 Barcelona Vs Juventus, Rekor Pertemuan, Prediksi, Line Up, Hasil
		<img src = "images/prediksifinal.png">
	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Juventus dan Barcelona sudah delapan kali bertemu di kompetisi Eropa. Soal rekor pertemuan, Bianconeri sedikit lebih unggul daripada Blaugrana.

	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Kedua klub sudah bertemu dalam empat seri pertandingan dua leg sejak musim 1970-1971. Kala itu di kompetisi Inter Cities Fairs Cup, Juve dan Barca saling berhadapan di putaran kedua. Juve mengungguli Barca dengan agregat 4-2 setelah membukukan kemenangan dengan skor 2-1 di masing-masing leg.

	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Juve dan Barca kemudian bertemu di babak perempatfinal ajang European Cup musim 1985/1986. Barca menyingkirkan Juve yang merupakan juara bertahan dengan agregat 2-1.

		
include presentation-footer
include main-footer