- var pageTitle = 'Pencapaian ke Final (Barcelona)'

include presentation-header

include menu
head
	style
		a{
			font-size : 16px;
		}
article#presentation

	section
		h2 Barcelona Vs Juventus, Rekor Pertemuan, Prediksi, Line Up, Hasil
		<img src = "images/prediksifinal.png">
	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Juventus dan Barcelona sudah delapan kali bertemu di kompetisi Eropa. Soal rekor pertemuan, Bianconeri sedikit lebih unggul daripada Blaugrana.

	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Kedua klub sudah bertemu dalam empat seri pertandingan dua leg sejak musim 1970-1971. Kala itu di kompetisi Inter Cities Fairs Cup, Juve dan Barca saling berhadapan di putaran kedua. Juve mengungguli Barca dengan agregat 4-2 setelah membukukan kemenangan dengan skor 2-1 di masing-masing leg.

	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Juve dan Barca kemudian bertemu di babak perempatfinal ajang European Cup musim 1985/1986. Barca menyingkirkan Juve yang merupakan juara bertahan dengan agregat 2-1.

	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Musim 1990/1991, Juve dan Barca dipertemukan di semifinal ajang Piala Winners'. Barca menang 3-1 atas Juve di leg pertama, tapi kemudian kalah 0-1 di leg kedua yang merupakan laga tandang. Gol tunggal Juve di laga itu dilesakkan oleh Roberto Baggio.
	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Di ajang Liga Champions, Juve dan Barca berhadapan di musim 2002/2003. Saling sikut di perempatfinal, Juve mengungguli Barca dengan agregat 3-2. Juve sendiri pada akhirnya lolos ke final, tapi kalah dari AC Milan lewat adu penalti.
	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Secara keseluruhan, dari delapan kali pertemuan, Juve mencatat empat kemenangan atas Barca. Sementara Barca punya dua kemenangan dan dua laga sisanya berakhir imbang.
	section
		h2 Prekdisi Final Liga Champion Juve Vs Barca
		p Juve dan Barca akan kembali bertemu di Liga Champions musim ini. Kedua tim akan memperebutkan 'Si Kuping Besar' dalam babak final di Olympiastadion, Berlin, Sabtu (6/6/2015).	 
	section
		h2 Catatan head to head Juventus vs Barcelona
		p 1970/1971 Fairs Cup
		ul
		<li style="list-style-type:disc"> Barcelona 1 : 2 Juventus
		<li style="list-style-type:disc"> Juventus 2 : 1 Barcelona
		
 
		p 1985/1986 European Cup
		ul
		<li style="list-style-type:disc"> Barcelona 1 : 0 Juventus
		<li style="list-style-type:disc"> Juventus 1 :1 Barcelona
	section
		h2 Catatan head to head Juventus vs Barcelona
		p 1990/1991 Winners Cup
		ul
		<li style="list-style-type:disc"> Barcelona 3 : 1 Juventus
		<li style="list-style-type:disc"> Juventus 1 : 0 Barcelona
		

		p 2002/2003 Liga Champions
		ul
		<li style="list-style-type:disc"> Juventus 1 : 1 Barcelona
		<li style="list-style-type:disc"> Barcelona 1 : 2 Juventus	
		br
		<a href = "8-hasil.html"> Ke Persentase Berikutnya </a>
include presentation-footer
include main-footer