- var pageTitle = 'Hasil Score'

include presentation-header

include menu
article#presentation
	section
		h1 Hasil Barcelona vs Juventus
		ul
			li <img class="1" src = "images/barcelona.jpg"> 3 - 1 <img class="1" src= "images/juventus.jpg">
	
include presentation-footer
include main-footer