- var pageTitle = 'Hasil Score'

include presentation-header
head
	style
		a{
			font-size : 16px;
		}
		a img{
			width : 30px;
			height : 30px;
		}
include menu
article#presentation
	section
		h1 Hasil Barcelona vs Juventus
		ul
			li <img class="1" src = "images/barcelona.jpg"> 3 - 1 <img class="1" src= "images/juventus.jpg">
	section
		h1 Final Barcelona vs Juventus
		ul
			<li style="list-style-type:disc"> Pertandingan final antara barcelona dengan juventus dilaksanakan di stadion Olimpiade, Berlin, Jerman.
			<li style="list-style-type:disc"> Pertandingan dilaksanakan pada hari minggu, 7 juni 2015.
			<li style="list-style-type:disc"> Jumlah penonton pada stadion olimpiade adalah 73 ribu orang.
	section
		h1 Scorer Barcelona
		ul
			<li style="list-style-type:disc"> Ivan Rakitic menit 4
			<li style="list-style-type:disc"> Lui Suarez menit 68
			<li style="list-style-type:disc"> Neymar di injury time menit 90 +6
	section
		h1 Scorer Juventus
		ul
			<li style="list-style-type:disc"> Alvaro Morata menit 55
	section
		h1 Statistik Penyerangan
		<img src = "images/statistik penyerangan.jpg">
	section
		h1 Statistik pertahanan
		<img src = "images/statistik pertahanan.jpg">
	section
		h1 Statistik permainan
		<img src = "images/statistik permainanumum.jpg">
	section
		h1 Statistik distribusi
		<img src = "images/statistik distribusi.jpg">
		br
		<a href ="9-tambahan.html"><img src="images/kanan.png"> Ke Persentase Berikutnya </a>
include presentation-footer
include main-footer