- var pageTitle = 'Hasil Score'

include presentation-header

include menu
article#presentation
	section
		h1 Hasil Barcelona vs Juventus
		ul
			li <img class="1" src = "images/barcelona.jpg"> 3 - 1 <img class="1" src= "images/juventus.jpg">
	section
		h1 Final Barcelona vs Juventus
		ul
			<li style="list-style-type:disc"> Pertandingan final antara barcelona dengan juventus dilaksanakan di stadion Olimpiade, Berlin, Jerman.
			<li style="list-style-type:disc"> Pertandingan dilaksanakan pada hari minggu, 7 juni 2015.
			<li style="list-style-type:disc"> Jumlah penonton pada stadion olimpiade adalah 73 ribu orang.
	
include presentation-footer
include main-footer