- var pageTitle = 'Tambahan'

include presentation-header

include menu
article#presentation
	section
		h1 Top Scorer
		ul
			<li style="list-style-type:disc"> Top Scorer di pegang oleh 3 orang yaitu :
			<li style="list-style-type:disc"> Neymar
			<li style="list-style-type:disc"> C Ronaldo
			<li style="list-style-type:disc"> Messi
	section
		h1 Top Scorer
		ul
			li Berikut 20 Daftar Pencetak Gol
		ul
			<li style="list-style-type:disc"> Neymar (Barcelona) : 10 goal
			<li style="list-style-type:disc"> C Ronaldo (Real Madrid) : 10 goal
			<li style="list-style-type:disc"> L Messi (Barcelona) : 10 goal
			<li style="list-style-type:disc"> Luiz Adriano (Shaktar D) : 9 goal
			<li style="list-style-type:disc"> D Lafata (Sparta Praha) : 8 goal
			<li style="list-style-type:disc"> J Martinez (Porto) : 8 goal
			<li style="list-style-type:disc"> T Muller (Munchen) : 7 goal
			<li style="list-style-type:disc"> M Rosenberg (Malmo) : 7 goal
			<li style="list-style-type:disc"> L Suarez (Barcelona) : 7 goal
			<li style="list-style-type:disc"> C Tevez (Juventus) : 7 goal	
		
	section
		ul
			<li style="list-style-type:disc"> S Aguero (MC) : 6 goal
			<li style="list-style-type:disc"> K Benzema (Real Madrid) : 6 goal
			<li style="list-style-type:disc"> Y Brahimi (Porto) : 6 goal
			<li style="list-style-type:disc"> E Cavani (PSG) : 6 goal
			<li style="list-style-type:disc"> R Lewandowski (Munchen) : 6 goal
			<li style="list-style-type:disc"> K Huntelaar (Schalke) : 5 goal
			<li style="list-style-type:disc"> M Mandzukic (Atletico Madrid) : 5 goal
			<li style="list-style-type:disc"> A Morata (Juventus) : 5 goal
			<li style="list-style-type:disc"> M Radovic (Legia Warszawa) : 5 goal
			<li style="list-style-type:disc"> Heung-Min Son (Leverkusen) : 5 goal
	section
	section
	section
include presentation-footer
include main-footer