- var pageTitle = 'Tambahan'

include presentation-header

include menu
head
	style
		td{
			border: 1px solid black;
			width : 150px;
			font-size : 12px;
		}
article#presentation
	section
		h1 Top Scorer
		ul
			<li style="list-style-type:disc"> Top Scorer di pegang oleh 3 pemain yaitu :
			<li style="list-style-type:disc"> Neymar
			<li style="list-style-type:disc"> C Ronaldo
			<li style="list-style-type:disc"> Messi
	section
		h1 Top Scorer
		ul
			li Berikut 20 Daftar Pencetak Gol
		ol
			<li style="list-style-type:disc"> Neymar (Barcelona) : 10 goal
			<li style="list-style-type:disc"> C Ronaldo (Real Madrid) : 10 goal
			<li style="list-style-type:disc"> L Messi (Barcelona) : 10 goal
			<li style="list-style-type:disc"> Luiz Adriano (Shaktar D) : 9 goal
			<li style="list-style-type:disc"> D Lafata (Sparta Praha) : 8 goal
			<li style="list-style-type:disc"> J Martinez (Porto) : 8 goal
			<li style="list-style-type:disc"> T Muller (Munchen) : 7 goal
			<li style="list-style-type:disc"> M Rosenberg (Malmo) : 7 goal
			<li style="list-style-type:disc"> L Suarez (Barcelona) : 7 goal
			<li style="list-style-type:disc"> C Tevez (Juventus) : 7 goal	
		
	section
		ol
			<li style="list-style-type:disc"> S Aguero (MC) : 6 goal
			<li style="list-style-type:disc"> K Benzema (Real Madrid) : 6 goal
			<li style="list-style-type:disc"> Y Brahimi (Porto) : 6 goal
			<li style="list-style-type:disc"> E Cavani (PSG) : 6 goal
			<li style="list-style-type:disc"> R Lewandowski (Munchen) : 6 goal
			<li style="list-style-type:disc"> K Huntelaar (Schalke) : 5 goal
			<li style="list-style-type:disc"> M Mandzukic (Atletico Madrid) : 5 goal
			<li style="list-style-type:disc"> A Morata (Juventus) : 5 goal
			<li style="list-style-type:disc"> M Radovic (Legia Warszawa) : 5 goal
			<li style="list-style-type:disc"> Heung-Min Son (Leverkusen) : 5 goal
	section
		h1 Top Assist
		ul
			<li style="list-style-type:disc"> Top Assist di pegang oleh 2 pemain yaitu :
			<li style="list-style-type:disc"> A Iniesta
			<li style="list-style-type:disc"> L Messi
	section
		ul
			li Berikut 20 Daftar Peng Assist 
		ol
			<li style="list-style-type:disc"> Iniesta (Barcelona) : 5 Assist
			<li style="list-style-type:disc"> L Messi (Barcelona) : 5 Assist
			<li style="list-style-type:disc"> Dani ALves (Barcelona) : 4 Assist
			<li style="list-style-type:disc"> Y Brahimi (Porto) : 4 Assist
			<li style="list-style-type:disc"> H Calhanoglu (Leverkusen) : 4 Assist
			<li style="list-style-type:disc"> H Herrera (Porto) : 4 Assist
			<li style="list-style-type:disc"> Koke (Atletico Madrid) : 4 Assist
			<li style="list-style-type:disc"> B Schweinsteiger (Munchen) : 3 Assist
			<li style="list-style-type:disc"> K Bellarabi (Leverkusen) : 3 Assist
			<li style="list-style-type:disc"> J Boateng (Munchen) : 3 Assist
	section
		ol
			<li style="list-style-type:disc"> T De Vicenti (APOEL) : 3 Assist
			<li style="list-style-type:disc"> C Ronaldo (Real Madrid) : 3 Assist
			<li style="list-style-type:disc"> Fabregas (Chelsea) : 3 Assist
			<li style="list-style-type:disc"> F Frei (Basel) : 3 Assist
			<li style="list-style-type:disc"> P Kasami (Olympiacos) : 3 Assist
			<li style="list-style-type:disc"> T Kroos (Real Madrid) : 3 Assist
			<li style="list-style-type:disc"> T Muller (Munchen) : 3 Assist
			<li style="list-style-type:disc"> L Piszczek (Dormund) : 3 Assist
			<li style="list-style-type:disc"> P Pogba (Juventus) : 3 Assist
			<li style="list-style-type:disc"> Pedro (Barcelona) : 3 Assist
	
	section
		h1 Top Goal Keeper
		ol
			<li style="list-style-type:disc"> Neuer (Munchen)
			<li style="list-style-type:disc"> Bravo (Barcelona)
			<li style="list-style-type:disc"> Buffon (Juventus)
			<li style="list-style-type:disc"> Cortois (chelsea)
			<li style="list-style-type:disc"> Cassilas (Madrid)
				
	section
		h1 Top Player
		h3 10 Top Player Champions 2015
		ul
			li
				table
					tr
						td <b>Player</b>
						td <b>Match played</b>
						td <b>Minute played</b>
						td <b>Goal</b>
						td <b>Assist</b>
						td <b>Team</b>
					tr
						td Neymar
						td 12
						td 1026		
						td 10
						td 1
						td Barcelona
					tr
						td C Ronaldo
						td 12
						td 1065		
						td 10
						td 4
						td Real Madrid
					tr
						td L Messi
						td 13
						td 1147		
						td 10
						td 6
						td Barcelona
					tr
						td Adriano
						td 7
						td 628		
						td 9
						td 1
						td shakhtar 
					tr
						td J Martinez
						td 8
						td 629		
						td 7
						td 0
						td Porto
					tr
						td T Muller
						td 10
						td 777		
						td 7
						td 3
						td Bayern
					tr
						td L Suarez
						td 10
						td 827		
						td 7
						td 3
						td Barcelona
					tr
						td C Tevez
						td 13
						td 1156		
						td 7
						td 3
						td Juventus
					tr
						td S Aguero
						td 7
						td 550		
						td 6
						td 1
						td MC
					tr
						td K Benzema
						td 9
						td 664		
						td 6
						td 2
						td Real Madrid
	section
		h1 Top Eleven
		h2 Kiper
		ul	
			li Marc-Andre Ter Stegen (Barcelona)
	section
		h2 Pemain Belakang
		ul
			li Gerard Pique (Barcelona)
			li Giorgio Chiellini (Juventus)
			li Aymen Abdennour (Monaco)
	section
		h2 Pemain Tengah
		ul
			li Yacine Brahimi (Porto)
			li Xabi Alonso (Munchen)
			li Toni Kroos (Real Madrid)
			li Andres Iniesta (Barcelona)
	section
		h2 Penyerang
		ul
			li Lionel Messi (Barcelona)
			li Luiz Adriano (Shakhtar Donetsk)
			li Cristiano Ronaldo (Real Madrid)
	section
		h2 Formasi
		ul
			li 3 - 4 - 3
		
include presentation-footer
include main-footer