- var pageTitle = 'Tambahan'

include presentation-header

include menu
article#presentation
	section
		h1 Top Scorer
		ul
			<li style="list-style-type:disc"> Top Scorer di pegang oleh 3 pemain yaitu :
			<li style="list-style-type:disc"> Neymar
			<li style="list-style-type:disc"> C Ronaldo
			<li style="list-style-type:disc"> Messi
	section
		h1 Top Scorer
		ul
			li Berikut 20 Daftar Pencetak Gol
		ul
			<li style="list-style-type:disc"> Neymar (Barcelona) : 10 goal
			<li style="list-style-type:disc"> C Ronaldo (Real Madrid) : 10 goal
			<li style="list-style-type:disc"> L Messi (Barcelona) : 10 goal
			<li style="list-style-type:disc"> Luiz Adriano (Shaktar D) : 9 goal
			<li style="list-style-type:disc"> D Lafata (Sparta Praha) : 8 goal
			<li style="list-style-type:disc"> J Martinez (Porto) : 8 goal
			<li style="list-style-type:disc"> T Muller (Munchen) : 7 goal
			<li style="list-style-type:disc"> M Rosenberg (Malmo) : 7 goal
			<li style="list-style-type:disc"> L Suarez (Barcelona) : 7 goal
			<li style="list-style-type:disc"> C Tevez (Juventus) : 7 goal	
		
	section
		ul
			<li style="list-style-type:disc"> S Aguero (MC) : 6 goal
			<li style="list-style-type:disc"> K Benzema (Real Madrid) : 6 goal
			<li style="list-style-type:disc"> Y Brahimi (Porto) : 6 goal
			<li style="list-style-type:disc"> E Cavani (PSG) : 6 goal
			<li style="list-style-type:disc"> R Lewandowski (Munchen) : 6 goal
			<li style="list-style-type:disc"> K Huntelaar (Schalke) : 5 goal
			<li style="list-style-type:disc"> M Mandzukic (Atletico Madrid) : 5 goal
			<li style="list-style-type:disc"> A Morata (Juventus) : 5 goal
			<li style="list-style-type:disc"> M Radovic (Legia Warszawa) : 5 goal
			<li style="list-style-type:disc"> Heung-Min Son (Leverkusen) : 5 goal
	section
		h1 Top Assist
		ul
			<li style="list-style-type:disc"> Top Assist di pegang oleh 2 pemain yaitu :
			<li style="list-style-type:disc"> A Iniesta
			<li style="list-style-type:disc"> L Messi
	section
		ul
			li Berikut 20 Daftar Peng Assist 
		ul
			<li style="list-style-type:disc"> Iniesta (Barcelona) : 5 Assist
			<li style="list-style-type:disc"> L Messi (Barcelona) : 5 Assist
			<li style="list-style-type:disc"> Dani ALves (Barcelona) : 4 Assist
			<li style="list-style-type:disc"> Y Brahimi (Porto) : 4 Assist
			<li style="list-style-type:disc"> H Calhanoglu (Leverkusen) : 4 Assist
			<li style="list-style-type:disc"> H Herrera (Porto) : 4 Assist
			<li style="list-style-type:disc"> Koke (Atletico Madrid) : 4 Assist
			<li style="list-style-type:disc"> B Schweinsteiger (Munchen) : 3 Assist
			<li style="list-style-type:disc"> K Bellarabi (Leverkusen) : 3 Assist
			<li style="list-style-type:disc"> J Boateng (Munchen) : 3 Assist
	section
		ul
			<li style="list-style-type:disc"> T De Vicenti (APOEL) : 3 Assist
			<li style="list-style-type:disc"> C Ronaldo (Real Madrid) : 3 Assist
			<li style="list-style-type:disc"> Fabregas (Chelsea) : 3 Assist
			<li style="list-style-type:disc"> F Frei (Basel) : 3 Assist
			<li style="list-style-type:disc"> P Kasami (Olympiacos) : 3 Assist
			<li style="list-style-type:disc"> T Kroos (Real Madrid) : 3 Assist
			<li style="list-style-type:disc"> T Muller (Munchen) : 3 Assist
			<li style="list-style-type:disc"> L Piszczek (Dormund) : 3 Assist
			<li style="list-style-type:disc"> P Pogba (Juventus) : 3 Assist
			<li style="list-style-type:disc"> Pedro (Barcelona) : 3 Assist
include presentation-footer
include main-footer