nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="presentation-chooser")
				span(class="sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand", href="index.html") Liga Champion

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1-Sejarah.html">Sejarah Liga Champion</a>
						li <a href="2a-Champion2015.html">Liga Champion 2015</a>
						li <a href="2b-Hasil pertandingan.html">Hasil-hasil Pertandingan </a>
						li <a href="3-barcelona.html">Barcelona</a>
						li <a href="4-juventus.html">Juventus</a>
						li <a href="5-pencapaianBarca.html">Pencapaian ke final (Barcelona)</a>
						li <a href="6-pencapaianJuve.html">Pencapaian ke final (Juventus)</a>
						li <a href="7-prediksi.html">Prediksi Pertandingan</a>
						li <a href="8-hasil.html">Hasil Score</a>
						li <a href="9-Tambahan.html">Tambahan</a>